<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>164294391147-fhmkjbrc60b45ogu8ekubtfcrhu7qdq6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.164294391147-fhmkjbrc60b45ogu8ekubtfcrhu7qdq6</string>
	<key>API_KEY</key>
	<string>AIzaSyAX9vVVK7Y4dkgtCTWsr5494fl1z_5Gz8Y</string>
	<key>GCM_SENDER_ID</key>
	<string>164294391147</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.paani</string>
	<key>PROJECT_ID</key>
	<string>paani-ccae7</string>
	<key>STORAGE_BUCKET</key>
	<string>paani-ccae7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:164294391147:ios:fdb6feea811a112a53882e</string>
</dict>
</plist>